.products-container
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
    row-gap: 50px;
}

@media only screen and (max-width:768px)
{
    .products-container {
        display: grid;
        grid-template-columns: 1fr;
    }
}