.category-container {
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 50px;
}

.category-title {
   font-size: 38px;
   text-align: center;
}

@media only screen and (max-width:811px)
{
   .category-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    grid-row-gap: 20px;
   }
}
@media only screen and (max-width:480px)
{
   .category-container{
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 20px;
    grid-row-gap: 30px;
   }
}

@media only screen and (max-width:500px)
{
     .category-item {
      margin-top: 110px;
     }
}